body{
    background-color: whitesmoke;
}

header{
    background-color: #C4C4C4;
}

#headerContent{
    padding-top: 0.5rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    padding-bottom: 0.5rem;
}

#higherMenu{
    height: 100%;
}

#higherMenuContent{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    height: 100%;
    width: 100%;
}

#divLogo{
    width: 4.8rem;
    padding-right: 2.5rem;
}

#logo{
    top: auto;
    width: 100%;
}

#searchBar{
    display: flex;
    border: solid 1px;
    border-radius: 4px;
    height: 1.7rem;
    background-color:#FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

#divSearchBar{
    height: 100%;
    width: 29rem;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
}

#inputSearchBar{
    float: left;
    background-color: transparent;
    font-size: 18px;
    border: transparent;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#divSearchButton{
    padding-left: 0.25rem;
    padding-right: 0.5rem;
}

#searchButton{
    background-color: transparent;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#searchButton:hover{
    cursor: pointer;
}

#searchIconButton{
    width: 1.4rem;
}

#parceirosList{
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 2.5rem;
}

#parceirosLink{
    text-decoration: none;
    display: inline-flex;
}

#parceirosIcon{
    width: 2rem;
    padding-right: 0.4rem;
}

#parceirosTitle{
    position: relative;
    font-size: 1.2rem;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: lighter;
    color: #171717;
    transition: 0.25s;
    border-bottom: 1px solid transparent;
}

#parceirosTitle:hover{
    cursor: pointer;
    color: #2f5380;
    border-color: #2f5380;
}