body{
    background-color: white;
}

header{
    background-color: #C4C4C4;
}

#headerContent{
    padding-top: 0.5rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    padding-bottom: 0.5rem;
}


#higherMenuContent{
    display: inline-flex;
    height: 100%;
    width: 100%;
}

#divLogo{
    width: 4.8rem;
    padding-right: 2.5rem;
}

#logo{
}

#divSearchBar{
    border: solid 1px;
    border-radius: 3px;
    width: 32rem;
    height: 1.7rem;
    background-color:#FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

#searchBar{
    float: left;
    background-color: transparent;
    padding-left: 0.5rem;
    font-size: 18px;
    border: transparent;
    height: 1.4rem;;
    width: 100%;
}

#searchIcon{
    width: 1.5rem;
<<<<<<< HEAD
    display: inline-block;
    align-items: right;
}

#parceirosList{
    font-size: 1.5rem;
}

#parceirosLink{
    text-decoration: none;
}

#parceirosIcon{
    width: 2rem;
}

#parceirosTitle{
    font-size: 100%;
    display: inline;
=======
    float: right;
    padding-right: 0.5rem;
}

#register_form{
    margin: 48px auto 32px;
    width: 714px;
}

#register_div{
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    background-color: white;
    padding: 20px 36px 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#register_body{
    background-color: whitesmoke;
}

#title_data{
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
}

.register_input{
    margin: 8px 0 4px; 
    font-size: 23px;
    border: transparent;
    border-radius: 8px;
    height: 100%;
    width: 20rem;
    color:#C0C0C0;
}

#form_action{
    padding-top: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#register_submit{
    font-size: 23px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: white;
    height: 40px;
    width: 150px;
}

#title_div{
    margin: 48px auto 32px;
    width: 714px;
>>>>>>> 166bb51db443feb004f99faabd53083f5dcc2724
}